.header-background {
  background-color: rgb(210, 101, 101);
}

.header-text {
  font-family: Helvetica, sans-serif;
  font-size: 2rem;
  padding: 1rem;
  text-align: center;
  color: white;
  letter-spacing: 2px;
}